// 覆盖button变量
topBg = #69a2fc
topBgActive = #324d6b
bottomBg = #4581e4
fontColor = #fff
topBg1 = #fdb32b
topBgActive1 = #9a4d17
bottomBg1 = #cd8c22
fontColor1 = #fff
topSize = 8px
fontSize = 0.625em

.btn
  position relative
  // width 100%
  height 50px
  margin 10px
  width 100%
  font-size fontSize
  .btn-top
    background-color topBg
    border-radius 8px
    height 40px
    border-bottom 3px solid bottomBg
    border-radius 8px
    &:active
      background-color topBg * 0.9
      border-bottom 0px
    span
      line-height 40px
      color fontColor
      width 100%
      text-align center
      &:active
        color fontColor * 1.2

  .btn-top-1
    background-color topBg1
    border-radius 8px
    height 40px
    border-bottom 3px solid bottomBg1
    &:active
      background-color topBg1 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color fontColor1
      width 100%
      text-align center
      &:active
        color fontColor1 * 1.2

 .btn-top-skip
   background-color topBg1
   border-radius 8px
   height 40px
   border-bottom 3px solid bottomBg1
   &:active
     background-color topBg1 * 0.9
     border-bottom 0px
   span
     line-height 40px
     color fontColor1
     width 100%
     text-align center
     &:active
       color fontColor1 * 1.2
