baseFontColor = #ffffff

.btn
  position relative
  width 100%
  // height 50px
  margin 10px
  font-size 1.6em
  // 首页开始考试
  .btn-start
    background-color #8be3ff
    border-radius 8px
    height 40px
    border-bottom 3px solid #0092c8
    &:active
      background-color #8be3ff * 0.9
      border-bottom 0px
    span
      line-height 40px
      color #354d6e
      width 100%
      text-align center
      &:active
        color #354d6e * 1.2
  // 弹出框开始考试
  .btn-do
    background-color #6f9eff
    border-radius 8px
    height 40px
    border-bottom 3px solid #4a7ce2
    &:active
      background-color #6f9eff * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  // 首页排行榜
  .btn-rank
    background-color #fef349
    border-radius 8px
    height 40px
    border-bottom 3px solid #e69200
    &:active
      background-color #fef349 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color #924c00
      width 100%
      text-align center
      &:active
        color #924c00 * 1.2
  // 弹出框排行榜
  .btn-rank-modal
    background-color #fef349
    border-radius 8px
    height 40px
    border-bottom 3px solid #e69200
    &:active
      background-color #fef349 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color #924c00
      width 100%
      text-align center
      &:active
        color #924c00 * 1.2
  // 返回
  .btn-back
    background-color #ffb400
    border-radius 8px
    height 40px
    border-bottom 3px solid #ce9100
    &:active
      background-color #ffb400 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  // 下一题
  .btn-next
    background-color #6f9eff
    border-radius 8px
    height 40px
    border-bottom 3px solid #4a7ce2
    &:active
      background-color #6f9eff * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  // 跳过
  .btn-skip
    background-color #ffb400
    border-radius 8px
    height 40px
    border-bottom 3px solid #ce9100
    &:active
      background-color #ffb400 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
  // 完成考试
  .btn-finished
    background-color #05c8a5
    border-radius 8px
    height 40px
    border-bottom 3px solid #069a7f
    &:active
      background-color #05c8a5 * 0.9
      border-bottom 0px
    span
      line-height 40px
      color baseFontColor
      width 100%
      text-align center
      &:active
        color baseFontColor * 1.2
