@import '../base'

table
  width 100%
  height auto
  border-collapse collapse
  text-align center
  tr
    height .9rem; /* 30/32 */
    font-size .4rem; /* 14/32 */
    font-weight bold
    td,th
      border 1px solid #eeeeee
      text-align center
    th
      color #232323
    td
      color #787878
